body {
  background: #fafafa;
  font-family: "Commissioner", sans-serif;
}

/*Nav Section Start  CURRENTELY WORKING ON*/
.heroContainer .heroIMG {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.navSection {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 20px;
}

.navSection img {
  background-color: none;
  margin: 0 24px;
}

/*Nav Section end*/
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}

.projectBackContainer {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 8px;
  text-align: center;
  width: 327px;
  height: 282px;
  margin: -60px 24px 0 24px;
}

.smallLogo {
  background: url("/images/logo-mastercraft.svg");
  width: 56px;
  height: 56px;
  margin: -30px auto 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 25px;
}

.projectBackContainer p {
  width: 280px;
  margin: auto;
}

.mainText {
  color: #7a7a7a;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 16px;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 24px;
}

.backingBtn {
  background: #3cb3ab;
  border-radius: 33.5px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.largeBtn {
  font-size: 1rem;
  line-height: 1.25rem;
  width: 214px;
  height: 56px;
}

.bookmark {
  border: none;
  border-radius: 30px;
  background: #2f2f2f;
  width: 56px;
  height: 56px;
  background-image: url("/images/icon-bookmark.svg");
  background-position: center;
}

.smallBtn {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  width: 157px;
  height: 48px;
}

/*Stats Section Start*/
.backerStatsContainer {
  background: #ffffff;
  width: 327px;
  height: 412px;
  margin: 24px 24px 0 24px;
  text-align: center;
}

.stat {
  width: 129px;
  height: 66px;
  margin: 0 auto;
}

.statMoney {
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.4375rem;
}

.statMoneyCap {
  color: #7a7a7a;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  margin-top: -20px;
}

.backerStatsContainer hr {
  margin-top: 25px;
  width: 25%;
}

.progressbar {
  margin: 15px auto 0 auto;
  width: 279px;
  height: 12px;
}

.progress {
  position: absolute;
  border-radius: 33.5px;
  background-color: #3cb3ab;
  width: 250.86px;
  height: 12px;
}

.uncomplete {
  position: absolute;
  border-radius: 33.5px;
  background-color: #979797;
  width: 279px;
  height: 12px;
  opacity: 0.25;
}

/*Stats section End*/
/* backerPackagesContainer STARTS*/
.backerPackagesContainer {
  background: #ffffff;
  border-radius: 8px;
  width: 327px;
  margin: 24px;
}

.backerPackagesContainer h2 {
  color: #000000;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: bold;
  margin: 40px 153px 40px 24px;
}

.backerPackagesContainer .mainText {
  margin: 0 24px 24px 24px;
}

.package {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 279px;
  height: 370px;
  margin: 24px;
}

.packageHeader {
  color: #000000;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  margin: 0 0 8px 24px;
  padding-top: 24px;
}

.packagePrice {
  color: #3cb3ab;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  margin: 0 0 24px 24px;
}

.packageText {
  color: #7a7a7a;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 0 24px 24px 24px;
  padding-top: -10px;
}

.packagesLeft {
  margin: 0 172px 24px 24px;
}

.packagesLeft span {
  color: #000000;
  font-size: 2rem;
  line-height: 2.4375rem;
  margin-right: 5px;
  font-weight: bold;
}

.smallBtn {
  margin-left: 24px;
}

.package:last-of-type {
  opacity: 0.5;
}

.noStockBtn {
  background: #2f2f2f;
  opacity: 0.5;
}

/* backerPackagesContainer Ends*/

/*--------------------Pop up module for pledge backing START*/
.modalContainer {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 8px;
  width: 327px;
}

.modalPledgeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pledgeBox {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  border-radius: 8px;
  width: 279px;
}

.pledgeSelectionContainer {
  display: flex;
  gap: 4px;
  margin: 24px 0 0 24px;
}

.plegeSelectionRadioSelection {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.pledgeSelectionContainer input {
  width: 24px;
  height: 24px;
}

.pledgeSelectionPriceSelection {
  margin-left: 8px;
}

.packagePriceModal {
  color: #3cb3ab;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  /* margin: 0 0 24px 24px; */
}

.packageHeaderModal {
  color: #000000;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  margin: 6px 0 0 0;
}

.backingText {
  margin-left: 24px;
  width: 231px;
}

/*Plege amount sub section START*/
.pledgeAmountSection {
  text-align: center;
  color: #7a7a7a;
}

.pledgeAmountSection hr {
  opacity: 0.25;
}

.pledgeChoice {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.pledgeChoice input {
  width: 100px;
  height: 48px;
}

/*TESTING STILL*/
.pledgeChoice input::before {
  content: "$";
  font-size: 15px;
  left: 3px;
  margin-right: 10px;
  position: relative;
}

.pledgeChoice button {
  background: #3cb3ab;
  border-radius: 33.5px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  width: 115px;
  height: 48px;
}

/*Plege amount sub section End*/

/*-------------------Pop up module for pledge backing end*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
